In [3]:
# Tratamiento de datos
import pandas as pd
import numpy as np
db=pd.read_csv('world-data-1.csv',index_col=0)
db.head()
db.shape #indica el numero total de filas y columnas
db.columns
db['Country'].unique()
db['Country'].value_counts()
db.isnull().sum()
db.duplicated().sum()#indica la cantidad de valores duplicados
db.info

<bound method DataFrame.info of          Country  Density\n(P/Km2) Abbreviation  Agricultural Land( %)  \
0    Afghanistan              60.0           AF                   58.1
1        Albania             105.0           AL                   43.1
2        Algeria              18.0           DZ                   17.4
3        Andorra             164.0           AD                   40.0
4         Angola              26.0           AO                   47.5
..           ...               ...          ...                    ...
190    Venezuela              32.0           VE                   24.5
191      Vietnam             314.0           VN                   39.3
192        Yemen              56.0           YE                   44.6
193       Zambia              25.0           ZM                   32.1
194     Zimbabwe              38.0           ZW                   41.9

    Land Area(Km2) Armed Forces size  Birth Rate  Calling Code  \
0          652,230           323,000       32.49          93.0
1           28,748             9,000       11.78         355.0
2        2,381,741           317,000       24.28         213.0
3              468               NaN        7.20         376.0
4        1,246,700           117,000       40.73         244.0
..             ...               ...         ...           ...
190        912,050           343,000       17.88          58.0
191        331,210           522,000       16.75          84.0
192        527,968            40,000       30.45         967.0
193        752,618            16,000       36.19         260.0
194        390,757            51,000       30.68         263.0

    Capital/Major City Co2-Emissions       CPI  CPI Change (%) Currency-Code  \
0                Kabul         8,672     149.9             2.3           AFN
1               Tirana         4,536    119.05             1.4           ALL
2              Algiers       150,006    151.36             2.0           DZD
3     Andorra la Vella           469       NaN             NaN           EUR
4               Luanda        34,693    261.73            17.1           AOA
..                 ...           ...       ...             ...           ...
190            Caracas       164,175  2,740.27           254.9           VED
191              Hanoi       192,668    163.52             2.8           VND
192              Sanaa        10,609    157.58             8.1           YER
193             Lusaka         5,141    212.31             9.2           ZMW
194             Harare        10,983    105.51             0.9           NaN

     Fertility Rate  Forested Area (%)  Gasoline Price
0              4.47                2.1            0.70
1              1.62               28.1            1.36
2              3.02                0.8            0.28
3              1.27               34.0            1.51
4              5.52               46.3            0.97
..              ...                ...             ...
190            2.27               52.7            0.00
191            2.05               48.1            0.80
192            3.79                1.0            0.92
193            4.63               65.2            1.40
194            3.62               35.5            1.34

[195 rows x 16 columns]>

In [4]:
db.loc[db['Birth Rate']> 40] #filtrar filas con loc que tengan mas de 40 en la columna Birth Rate
db.loc[db['Fertility Rate']>6,['Country','Capital/Major City']] #Se filtra la columna Fertility y se muestran los resultados de las dos filas
db.loc[db['Abbreviation']=='IT',['Gasoline Price']]
db.loc[7:9]#Seleccionar las filas 7-9 para todas las columnas
db.iloc[:,[2,5,10]]
db.iloc[63,8]

'Tbilisi'

In [5]:
df2=pd.read_csv('world-data-2.csv',index_col=0)
world = db.merge(df2, how = 'inner', left_on = 'Country', right_on = 'country')
world=world.drop(columns='country')
world.to_csv('Worl-data.csv', index=False)

In [6]:
mortalidad_50_75 = world['Infant mortality'].between(50, 75 , inclusive = 'both')#Se genera una serie de True /False para ver si cumple la condicion
world[mortalidad_50_75]['Country']#Se agrega un filtro dentro de dataframe donde se filtra solo por los indices que tienen un valor True
natalidad=world['Birth Rate']>=15 #Generas una serie de boleanos
esperanza=world['Life expectancy']>80 #Generas una serie de boleanos
world[natalidad & esperanza]['Country'] #Se filtra con la union de los dos boleanos y se muestra el valor de la columna Country

82    Israel
Name: Country, dtype: object

In [7]:
world[world['Country'].str.contains('ar', case=True)]['Country']

def cantidad_supervivientes(Columna1,Columna2):
  try:
    rate=Columna1
    vivos=1-(Columna2/1000)
    infantes=rate*vivos
    return infantes
  except:
    np.nan
world['Vivos']=world.apply(lambda x: cantidad_supervivientes (x['Birth Rate'], x['Infant mortality']), axis = 1) #el axis=1 sirve para aplicarlo a cada fila

In [8]:
world['Vivos']
media = world[['Continent','Density\n(P/Km2)']].groupby(by='Continent').mean() #world.groupby('Continent')['Density\n(P/Km2)'].mean().reset_index() (otra forma)
mediana=world.groupby('Official language')['Life expectancy'].median().reset_index()
mortalidadmax_moneda=world.groupby('Currency-Code')['Infant mortality'].max().reset_index()
world.groupby('Continent')['Minimum wage'].agg(['min','max','mean']).reset_index()
world.groupby('Continent')['Physicians per thousand'].mean().reset_index()

  Continent  Physicians per thousand
0    Africa                 0.359091
1   America                 1.996667
2      Asia                 1.189140
3    Europa                 3.693750
4   Oceania                 1.465000

In [25]:
ultimasfilas=world.iloc[-5:] #Ultimas 5 filas de un dataframe
world.sample(5) #5 Filas aleatorias del conjunto de datos
world.tail(5)#Ultimas 5 filas de un dataframe
world.iloc[2:5]
world.loc[world['Capital/Major City']== 'Tirana'] #iloc sirve para seleccionar filas en cambio loc sirve para condiciones
world.loc[world['CPI']== '128.85']
world.loc[:,['Country','Co2-Emissions']] #Seleccionar dos columnas de un dataframe
world.loc[world['CPI Change (%)']==2]
world.loc[world['Abbreviation']=='AF',['Birth Rate']]
world.iloc[:,0:5]
world.iloc[:,0:3]
world.iloc[:,[0,2,5]]
world.iloc[[0,2,4]]
world.iloc[-1,-1]
world.iloc[1:4]
world.iloc[:,[1,4,6]]
world.iloc[4,2]

'AO'