In [4]:
# Tratamiento de datos
import pandas as pd
import numpy as np
db=pd.read_csv('world-data-1.csv',index_col=0)
db.head()
db.shape #indica el numero total de filas y columnas
db.columns
db['Country'].unique()
db['Country'].value_counts()
db.isnull().sum()
db.duplicated().sum()#indica la cantidad de valores duplicados
db.info
db.describe(include ='0').T

In [41]:
db.loc[db['Birth Rate']> 40] #filtrar filas con loc que tengan mas de 40 en la columna Birth Rate
db.loc[db['Fertility Rate']>6,['Country','Capital/Major City']] #Se filtra la columna Fertility y se muestran los resultados de las dos filas
db.loc[db['Abbreviation']=='IT',['Gasoline Price']]
db.loc[7:9]#Seleccionar las filas 7-9 para todas las columnas
db.

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
7,Armenia,104.0,AM,58.9,"29,743","49,000",13.99,374.0,Yerevan,"5,156",129.18,1.4,AMD,1.76,11.7,0.77
8,Australia,3.0,AU,48.2,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",119.8,1.6,AUD,1.74,16.3,0.93
9,Austria,109.0,AT,32.4,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.5,EUR,1.47,46.9,1.20